.body {
  max-width: 100%;
  padding: 0 4rem;
}

@media (min-width: 1400px) {
  .body {
    max-width: 950%;
    margin: 0 auto;
  }
}

@media (max-width: 756px) {
  .body {
    padding: 0 1.6rem;
  }
}
