.main {
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 4rem;
}

.navMain {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 160px;
  cursor: pointer;
  object-fit: contain;
}

.navItem {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0 1rem;
  letter-spacing: 0.4px;
}

.navItem:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  transition: text-decoration 0.2s;
}

.search {
  display: flex;
  align-items: center;
  background-color: inherit;
  padding-left: 0.6rem;
  border-radius: 10px;
  border: 1px solid white;
}

.sIcon {
  color: white;
  font-size: 1.4rem;
  &:hover {
    cursor: pointer;
  }
}

.searchBar {
  outline: none;
  border: none;
  padding: 1rem 0.4rem;
  border-radius: 8px;
  background-color: inherit;
  color: white;
}

.searchBar::placeholder {
  color: white;
}

.menu {
  display: none;
}

.mobileHeader {
  display: none;
}

.mobileHeaderHide {
  display: none;
}

@media (max-width: 756px) {
  .navigations {
    display: none;
  }
  .header,
  .navMain {
    padding: 0;
    margin: 0;
  }
  .header {
    padding: 0.8rem;
  }

  .search {
    padding: 0;
    margin: 0;
    padding: 0 0.2rem;
    display: none;
    color: white;
  }
  .searchBar {
    padding: 0;
    margin: 0;
    padding: 0.4rem;
  }

  .logo {
    width: 25%;
  }

  .menu {
    display: block;
  }

  .menuIcon {
    color: white;
    font-size: 1.8rem;
  }

  .mobileHeader {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.923);
    display: block;
    inset: 0;
    transition: transform 0.4s ease-in-out;
  }

  .mobileHeaderHide {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.923);
    display: block;
    inset: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
  }

  .close {
    text-align: right;
    padding: 1.2rem 1.4rem;
    border-bottom: 1px solid #676767;
    margin-bottom: 2rem;
  }

  .closeIcon {
    color: white;
    font-size: 1.8rem;
  }

  .navigationsMobile {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .searchMobile {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: black;
    margin-top: 2rem;
    border-radius: 8px;
    border: 1px solid #858585;
    color: white;
  }
  .searchBarMobile {
    width: 100%;
    padding: 0.8rem 0;
    background-color: inherit;
    outline: none;
    border: none;
    color: white;
  }

  .searchParent {
    padding: 1rem;
  }
}
